body {
  background-color: peachpuff;
}

#stats-warn {
  display: none;
  color: red;
}

#stat-block {
  display: none;
  float:left;
  margin: auto;
}

#bad-guy-stat-block {
  display: none;
  float: right;
  margin: auto;
}

#combat {
  display: none;
  margin:auto;
}

.centered {
  text-align: center;
  margin: auto;
}